#offices-map-widget {
  height: 100%;
}

#map-container {
  position: relative;
  height: 100%;
  padding: 0 0 2px 0;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#offices-map-widget-filters {
  display: none;
  opacity: 0;
  position: relative;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 50px 15px 15px 15px;
  transition: all 200ms ease;
}

#offices-map-widget-filters-button {
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 10;
}
