#offices-map-widget {
  height: 100%;
}

#offices-map-widget-map-container {
  position: relative;
  height: 100%;
  padding: 0 0 2px 0;
}

#offices-map-widget-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#offices-map-widget-filters-panel {
  display: none;
  opacity: 0;
  position: relative;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 50px 15px 15px 15px;
  transition: all 200ms ease;
}

#offices-map-widget-filters-button {
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 10;
}

.offices-map-widget-box-loading {
  background-color: #d4d4d4;
  opacity: 0.5;
  position:   absolute;
  z-index:    1000;
  top:        0;
  left:       0;
  bottom:     0;
  right:      0;
  background: rgba( 255, 255, 255, 1 ) url('../images/spinner.gif') 50% 50% no-repeat;
}
